{% extends 'base.html' %}

{% block title %}
    {{review.username}}
{% endblock title %}

{% block content %} 
    <!--DetailView by default return the mathed entry with key name as object or model name in lower-case
    like here model name is Review so object is review-->
    <h1>{{review.username}}</h1>
    <h1>{{review.description}}</h1>
    <h1>{{review.rating}}</h1>

    {% if is_favourite %}
        <h1>This is my favourite Review</h1>
    
    {% else %}
        <form action="/reviews/favourite" method="POST">
            {% csrf_token %}
            <!-- not visible to enter as user is not required to fill this field-->
            <input type="hidden" name="review_id" value="{{review.id}}">    
            <button>Favourite</button>
        </form>

    {% endif %}

{% endblock content %}


