{% extends 'base.html' %}
{% load static %}
{% block title %}Review{% endblock title %}
{% block link_css %}<link rel="stylesheet" type="text/css" href="{% static 'Reviews/review.css' %}">{% endblock link_css %}

{% block content %}
    <form action="/" method="POST">         
        {% csrf_token %}  
        <div class = "form-control {% if form.user_name.errors %}errors{% endif %}">    
            {% for field in form %}
                {{field.label_tag}}      
                {{field}}                
                {{field.errors}}         
            {% endfor %}
        </div>
        <button>Send</button>           
    </form>
{% endblock content %}