<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <!--action is used to pass the url at which this request is sent, here / means the host url , http://127.0.0.1:8000/-->
    <form action="/" method="POST">     
        <!--it will generate the token and add it with the form, submit form and see source using inspect token will be there-->
        {% csrf_token %}              
        {{form}}            <!--form created using Django form it have inputs fields with label-->
        <button>Send</button>            <!--by default this button type is submit-->
    </form>
</body>
</html>