<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <!--action is used to pass the url at which this request is sent, here / means the host url , http://127.0.0.1:8000/-->
    <form action="/" method="POST">     
        <!--it will generate the token and add it with the form, submit form and see source using inspect token will be there-->
        {% csrf_token %}              
        <label for="name_inp">Your Name</label>            <!--for : for which input this label is written-->
        <input id="name_inp" name="username" type="text">        <!--username is used when form submit, it is used as a id for this field-->
        <button>Send</button>            <!--by default this button type is submit-->
    </form>
</body>
</html>